<h1>Who are ya?</h1>
<form action="/users" method="post">
  <ul>
    <li>
      <label for="name">Name</label>
      <input id="name" type="text" name="name" />
    </li>

  </ul>
  <input type="submit" />
</form>