<h1>User: <%= @user.username %></h1>
  
<h2><%= @user.username%>'s Albums: </h2>
<ul>
<% @album_array.each do |album| %>
  <li>
    <a href="/albums/<%= album.id %>">
      <%= album.name %> 
    </a>
  </li>
<% end %>
</ul>
<br>
<br>
<br>
<div> Also, you can <a href="/albums/new">create a new album! </a> </div>

<br>
<br>
<a href="/logout"> Log out user </a>

  