<h1>All The Albums!</h1>
  
<ul>
<% @albums.each do |album| %>
  <li>
    <a href="/albums/<%= album.id %>">
      <%= album.name %> 
    </a>
  </li>
<% end %>
</ul>

<br>

<a href=<%="/users/#{session[:user_id]}"%>>Back to your profile</a>
<br>
<br>
<a href="/users"> All Users </a>
