<h1>Create a new album, you psycho</h1>
<form action="/albums" method="post">
  <ul>
    <li>
      <label for="name">Name</label>
      <input id="name" type="text" name="name" />
    </li>
    <li>
      <label for="genre">Genre</label>
      <input id="genre" type="text" name="genre" />
    </li>
  </ul>
  <input type="submit" value="Create Album" />
</form>