<h1> Welcome to Album-Land! </h1>

<br>



<% if session[:user_id] %>
  <h3> **Groovy!** You're already signed in, <a href=<%="/users/#{session[:user_id]}"%>> click here </a>to go back to your profile!  </h3>
<% end %>

<h3> Sign up or sign in! </h3>

New users:<a href="/signup"> sign up </a>
<br>

Existing users: <a href="/login"> sign in </a>
<br>
<br>
<a href="/albums"> All Albums </a>
<br>
<br>
<a href="/users"> All Users </a>
<br>
<br>

<br>
<br>
<% if session[:user_id] %>
  <a href="/logout"> User Logout </a>
<% end %>
